
.overlay-body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--dark-blue-rainydays);
  text-align: center;
  background-color: var(--dark-grey-border);
}

.overlay-container {
  width: 500px;
  height: 130px;
  margin-top: 300px;
  justify-content: space-evenly;
  align-items: center;
  display: inline-flex;
  background-color: var(--light-blue-footer);
  border-radius: 10px;
  animation-name: anim-overlay;
  animation-duration: 0.5s;
}

.overlay {
  text-decoration: none;
  font-size: 1.25em;
  padding: 8px 20px;
  border-radius: 12px;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.order-now {
  font-weight: bold;
  background-color: var(--cta-background);
  border: var(--cta-background) solid thin;
  color: white;
}

.continue-shopping {
  border: var(--dark-blue-rainydays) solid thin;
  color: var(--dark-blue-rainydays);
}

.order-now:hover {
  background-color: var(--cta-hover-background);
}

.continue-shopping:hover {
  background-color: #8fb7c7;
}

@keyframes anim-overlay {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}
