/* .loading {
    border: 5px dotted #5c58d7;
    border-radius: 50%;
    border-right: 0;
    border-top: 0;
    width: 75px;
    height: 75px;
    margin: 70px 50%;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} */

.cart-div {
    width: 98%;
    margin: 0 auto;
}

.cart-product-image {
    max-height: 28px;
    border: solid #e3e3e3 thin;
}

.cart-list,
.cart-info {
    padding-top: 25px;
}

.continue-checkout,
.continue-shopping {
    background-color: var(--cta-background);
    color: white;
    text-decoration: none;
    font-size: 1.25em;
    font-weight: bold;
    padding: 7px 25px;
    border: var(--cta-background) solid thin;
    border-radius: 10px;
    width: fit-content;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.continue-checkout {
    display: none;
}

.cartpage-btn {
    display: flex;
    max-width: 540px;
    justify-content: space-evenly;
    margin: 30px auto;
}

.continue-shopping {
    background-color: white;
    color: var(--dark-blue-rainydays);
    border: var(--dark-blue-rainydays) solid thin;
}
  
.continue-checkout:hover {
    background-color: var(--cta-hover-background);
    cursor: pointer;
}

.continue-shopping:hover {
    background-color: lightblue;
    cursor: pointer;
}

table {
    table-layout: fixed;
    width: 100%;
    margin: 0 auto;
}

caption {
    padding-bottom: 10px;
    font-size: larger;
}

thead th:nth-child(1) {
    width: 10%;
}

thead th:nth-child(2) {
    width: 50%;
    text-align: left;
}

thead th:nth-child(3) {
    width: 20%;
    text-align: left;
}

thead th:nth-child(4) {
    width: 20%;
    text-align: left;
}

.td-description {
    display: flex;
    align-items: center;
    width: fit-content;
    text-decoration: none;
    color: var(--dark-blue-rainydays);
}

th,
td {
  padding: 7px;
  border-bottom: solid thin lightblue;
}

.no-border {
    border-bottom: none;
}