@import "styles.css";

:root {
  --ol-li-font-size: 1.25em;
  --li-font-size: 1em;
  --ol-margin: 25px;
  --li-margin: 10px;
  --inter-li-margin: 5px;
  --wide-field-width: 16em;
  --normal-field-width: 10em;
  --small-field-width: 3em;
  --x-small-field-width: 2em;
  --gap: 70px;
}

.center-aligned {
  text-align: center;
}

.new-line {
  display: flex;
  justify-content: center;
}

.checkout-li {
  font-size: var(--ol-li-font-size);
  text-transform: capitalize;
}

.input-fields {
  font-size: var(--li-font-size);
  width: var(--normal-field-width);
  border: var(--dark-grey-border) solid thin;
  border-radius: 7px;
  padding: 3px 7px;
  margin: var(--inter-li-margin);
}

.item-margin {
  margin: var(--li-margin) auto;
}

.container-margin {
  margin: var(--ol-margin) auto;
}

.x-small-field {
  width: var(--x-small-field-width);
}

.small-field {
  width: var(--small-field-width);
}

.wide-field {
  width: var(--wide-field-width);
}

/* =============== 1.LOGIN SECTION ===============*/

.checkout-login-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.divider {
  width: 1px;
  height: 7em;
  background-color: var(--dark-blue-rainydays);
}

/* =============== CONTACT INFORMATION SECTION ===============*/

/* =============== SHIPPING INFORMATION SECTION ===============*/

/* =============== PAYMENT INFORMATION SECTION ===============*/
.vipps-logo {
  max-width: 5em;
}

.vipps-container {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.visa-vipps-container {
  display: flex;
  gap: var(--gap);
}

#visa:checked ~ .hide-vipps {
  display: none;
}

#ck {
  display: none;
}

.ckbx {
  position: relative;
}

#ck:checked ~ .ckd {
  display: flex;
  position: absolute;
  z-index: 100;
  /* background-repeat: no-repeat; */
  /* background-position: center; */
}

/* .ckbx {
  border: var(--dark-blue-rainydays) solid;
  border-radius: 10px;
  padding: 7px;

  background-image: url(../icons/checked.svg);
  background-repeat: no-repeat;
  background-position: center;
} */

/* #hamb-menu,
.ham-menu-label {
  display: none;
}

#hamb-menu:checked ~ .main-menu {
  display: flex;
  position: absolute;
  z-index: 100;
} */

/* =============== ABOUT CONTACT SECTION ===============*/

.about-contact-section,
.checkout-section {
  max-width: 650px;
  margin-left: 150px;
  padding: 25px 0;
}

.checkout-section {
  max-width: 800px;
}
.about-text {
  font-size: 0.95em;
  padding: 0 8px;
}

.bold {
  font-weight: bold;
}

@media only screen and (min-width: 551px) and (max-width: 1180px) {
  .about-contact-section,
  .checkout-section {
    margin-left: 50px;
  }
}

@media only screen and (max-width: 550px) {
  .about-contact-section {
    max-width: 360px;
    margin: 0 auto;
  }
}
