@import "styles.css";

:root {
  --ol-li-font-size: 1.25em;
  --li-font-size: 1em;
  --ol-margin: 25px;
  --li-margin: 10px;
  --inter-li-margin: 5px;
  --medium-field-width: 5em;
}

.right-aligned {
  text-align: right;
}

.center-aligned {
  text-align: center;
}

.new-line {
  display: table;
}

.checkout-li {
  font-size: var(--ol-li-font-size);
  text-transform: capitalize;
}

.input-fields {
  font-size: var(--li-font-size);
  width: var(--medium-field-width);
  border: var(--dark-grey-border) solid thin;
  border-radius: 7px;
  padding: 3px 7px;
  margin: var(--inter-li-margin);
}

/* =============== 1.LOGIN SECTION ===============*/

.checkout-login-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.divider {
  width: 1px;
  height: 5em;
  background-color: var(--dark-blue-rainydays);
}

/* =============== ABOUT CONTACT SECTION ===============*/

.about-contact-section,
.checkout-section {
  max-width: 650px;
  margin-left: 150px;
  padding: 25px 0;
}

.about-text {
  font-size: 0.95em;
  padding: 0 8px;
}

.bold {
  font-weight: bold;
}

@media only screen and (min-width: 551px) and (max-width: 1180px) {
  .about-contact-section,
  .checkout-section {
    margin-left: 50px;
  }
}

@media only screen and (max-width: 550px) {
  .about-contact-section {
    max-width: 360px;
    margin: 0 auto;
  }
}
