@import "styles.css";

/* =============== CART INDICATOR ===============*/

.cart-item-ref {
  position: relative;
}

.cart-items {
  margin: 0;
  padding: 2px;
  position: absolute;
  top: -6px;
  right: -11px;
  background-color: green;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.new-line {
  display: flex;
  justify-content: center;
}

.checkout-li {
  font-size: var(--ol-li-font-size);
  text-transform: capitalize;
}

.input-fields {
  font-size: var(--li-font-size);
  width: var(--normal-field-width);
  border: var(--dark-grey-border) solid thin;
  border-radius: 7px;
  padding: 3px 7px;
  margin: var(--inter-li-margin);
}

.item-margin {
  margin: var(--li-margin) auto;
}

.container-margin {
  margin: var(--ol-margin) auto;
}

.x-small-field {
  width: var(--x-small-field-width);
}

.small-field {
  width: var(--small-field-width);
}

.wide-field {
  width: var(--wide-field-width);
}

.checkout-login-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.divider {
  width: 1px;
  height: 7em;
  background-color: var(--dark-blue-rainydays);
}

.vipps-logo {
  max-width: 5em;
}

.vipps-container {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.visa-vipps-container {
  display: flex;
  gap: var(--gap);
}

.continue-co {
  background-color: var(--cta-background);
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  padding: 7px 25px;
  margin-top: var(--ol-margin);
  border: var(--cta-background) solid thin;
  border-radius: 10px;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.continue-co:hover {
  background-color: var(--cta-hover-background);
  cursor: pointer;
}

/* =============== ABOUT CONTACT SECTION ===============*/

.about-contact-section,
.checkout-section {
  max-width: 650px;
  margin-left: 150px;
  padding: 25px 0;
}

.checkout-section {
  max-width: 800px;
}
.about-text {
  font-size: 0.95em;
  padding: 0 8px;
}

.bold {
  font-weight: bold;
}
