@import "styles.css";

.collection-container {
  max-width: fit-content;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1em;
  row-gap: 2em;
}

.grid-image {
  width: 277px;
  border: var(--image-border) solid thin;
}

.item-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  place-self: center;
}

.p-title,
.p-price {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--dark-blue-rainydays);
}

.p-title:hover,
.p-price:hover {
  text-decoration: underline;
}

.p-title {
  font-weight: bold;
}

.p-price {
  font-style: italic;
}
