/* .loading {
  border: 5px dotted #5c58d7;
  border-radius: 50%;
  border-right: 0;
  border-top: 0;
  width: 75px;
  height: 75px;
  margin: 70px 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
} */

.orderby-container {
  padding: 25px 0px;
  max-width: 90%;
  margin: 0 auto;
}

.collection-container {
  max-width: 90%;
  margin: 0 auto;
  padding-bottom: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3em;
  row-gap: 2em;
}

.grid-image {
  width: 100%;
}

.item-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  place-self: center;
  background-color: #e1e1e3;
  padding-bottom: 15px;
  outline: solid #e3e3e3 thin;
}

.a-title {
  text-decoration: none;
  text-decoration-color: var(--dark-blue-rainydays);
}

.p-title,
.p-price {
  text-transform: capitalize;
  color: var(--dark-blue-rainydays);
  margin: 0;
}

.p-title {
  font-weight: bold;
  padding-bottom: 5px;
}

.p-price {
  font-style: italic;
}

.title-container:hover {
  text-decoration: underline;
  cursor: pointer;
}

.product-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.view-product {
  padding: 5px 18px;
  background-color: var(--cta-background);
  color: white;
  font-size: 1.2em;
  border: none;
  border-radius: 10px;
  transition-property: all;
  transition-duration: 0.5s;
}

.view-product:hover {
  cursor: pointer;
  background-color: var(--cta-hover-background);
}