@import "styles.css";
@import "checkout.css";

:root {
  --product-image-height: 500px;
  --gap-medium: 50px;
}

.product-image {
  max-height: var(--product-image-height);
}

.product-section {
  display: flex;
  padding-top: var(--gap-medium);
  justify-content: center;
  gap: var(--gap);
}

.product-title {
  margin-bottom: var(--li-margin);
}

.price {
  font-size: 1.5em;
  font-style: italic;
  margin: 0;
}

.option-li,
.size-li {
  font-size: var(--li-font-size);
  text-transform: capitalize;
}

.size-li {
  text-transform: uppercase;
}

.add-to-cart-container {
  display: inline-flex;
  align-items: center;
  padding: 10px 25px;
  gap: 10px;
  background-color: var(--cta-background);
  border-radius: 10px;
}

.cart-container {
  position: relative;
}

.add {
  background-color: var(--cart-add-background);
  background-image: url(../icons/cart-add.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-flex;
  /* padding: 2px; */
  border: var(--cart-add-background) solid thin;
  border-radius: 50%;
  position: absolute;
  left: 21px;
  top: -2px;
  width: 15px;
  height: 15px;
}

/* .add-p {
  color: white;
  background-color: var(--cart-add-background);
  font-size: 11px;
  margin: 0;
  padding: 2px;
  border: var(--cart-add-background) solid thin;
  border-radius: 50%;
  position: absolute;
  left: 21px;
  top: -2px;
} */

.add-to-cart-txt {
  color: white;
  font-size: 1.25em;
  font-weight: bold;
  margin: 0;
}
