/* @import "styles.css"; */
/* @import "checkout.css"; */

:root {
  --product-image-height: 500px;
  --gap-medium: 50px;
}

.product-image {
  max-height: var(--product-image-height);
}

.product-section {
  display: flex;
  padding-top: var(--gap-medium);
  justify-content: center;
  gap: var(--gap);
}

.product-title {
  margin-bottom: var(--li-margin);
}

.price {
  font-size: 1.5em;
  font-style: italic;
  margin: 0;
}

.option-li,
.size-li {
  font-size: var(--li-font-size);
  text-transform: capitalize;
}

.size-li {
  text-transform: uppercase;
}

.product-cta-container {
  display: flex;
  gap: 25px;
}

.add-to-cart-container,
.add-to-wish-container {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  background-color: var(--cta-background);
  border-radius: 13px;
  transition-property: all;
  transition-duration: 0.5s;
}

#add-to-cart,
#add-to-wish {
  display: none;
}

.add-to-wish-container {
  background-color: white;
  border: var(--dark-blue-rainydays) solid thin;
}

.add-to-cart-container:hover {
  background: var(--cta-hover-background);
  cursor: pointer;
}

.add-to-wish-container:hover {
  background-color: var(--light-blue-footer);
  cursor: pointer;
}

.cart-container {
  position: relative;
}

.cart-size {
  width: 1.7em;
}

.add-cart,
.add-wish {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  position: absolute;
  border-radius: 50%;
  width: 19px;
  height: 19px;
  text-align: center;
}

.add-cart {
  top: -5px;
  right: -7px;
  background-color: var(--cart-add-background);
  color: white;
}

.add-wish {
  top: 2px;
  right: -8px;
  background-color: white;
  color: var(--dark-blue-rainydays);
}

.add-to-cart-txt,
.add-to-wish-txt {
  color: white;
  font-size: 1.25em;
  font-weight: bold;
  margin: 0;
}

.add-to-wish-txt {
  color: var(--dark-blue-rainydays);
  font-weight: normal;
}
