/* ----------------- GLOBAL STYLES -------------- */

/* 
COLOURS
#D5E5F2 LIGHT-BLUE
#8FB7C7 BLUE-MEDIUM
#013440 DARK-BLUE
#026259 DARK-GREEN
#707070 DARK-GREY
#5FB002 GREEN
#FFFFFF WHITE BACKGROUND
#2AAF4D HOME CTA BACKGROUND
#8FC7B8 LANDING IMAGE FILL COLOR
 */

html {
  scroll-behavior: smooth;
}

header {
  background-color: #ffffff;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ------------------------ HEADER STYLES -------------------- */

.header-section {
  max-width: 1700px;
  min-width: 1250px;
  /* position: fixed; */
  top: 0px;
  /* border: black solid; */
  margin: 0 auto 25px;
}

.header-section::after {
  content: none;
  display: table;
}

.logo {
  max-width: 160px;
  /* display: block; */
}

.logo-container {
  display: flex;
  justify-content: center;
  margin: 0 auto 5px;
}

/* ----------------- LOGIN WISH-LIST CART STYLES -------------- */

.login-wish-cart {
  /* border: orangered thin solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  max-width: fit-content;
}

.login-wish-cart p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.1em;
  color: #013440;
  margin: auto 0;
  border: #013440 solid;
  border-radius: 30px;
  padding: 3px 26px;
}

.login-container {
  display: flex;
  justify-content: right;
  margin-right: 35px;
}

/* -------------------  NAVIGATION MENU STYLES ---------------- */

.main-menu ul,
.about-contact ul {
  padding: 0;
}

.main-menu li,
.about-contact li {
  display: inline;
  list-style-type: none;
  margin: 0 12px;
}

.main-menu a,
.about-contact a {
  /* border: #013440 solid; */
  color: #013440;
  font-size: 1.5em;
  padding: 0 10px;
  text-decoration: none;
}

/* -------------------  SEARCH MENU STYLES ---------------- */

.search {
  display: flex;
  gap: 15px;
}

.search-area {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.1em;
  color: #8fb7c7;
  border: #707070 thin solid;
  padding: 4px 100px 4px 15px;
  border-radius: 10px;
}

/* -----------------  ABOUT CONTACT US STYLES (see navigation menu styles) -------------- */

.about-contact a {
  font-size: 0.9em;
}

/* -----------------  MAIN MENU - SEARCH - ABOUT STYLES  ---------------- */

.menu-about-container {
  display: flex;
  margin: 10px auto 0;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* -------------------  FREE SHIPPING AREA STYLES ---------------- */
/* 
.free-shipping {
  display: flex;
  gap: 20px;
}

.free-shipping-text {
  color: rgb(214, 93, 23);
  text-decoration: underline;
  font-style: italic;
  font-size: 0.9em;
} */

/* -------------------------  MAIN BODY STYLES --------------------- */

.main-body {
  max-width: 1344px;
  margin: 0 auto;
  padding: 20px 0;
  position: relative;
}

.main-body-section {
  border: #8fb7c7 thin solid;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.landing-image {
  max-height: 615px;
  background-color: #8fc7b8;
}

.landing-cta {
  color: #ffffff;
  text-decoration: none;
  font-size: 2.1em;
  font-weight: bold;
  border: #2aaf4d thin solid;
  padding: 10px 50px;
  background-color: #2aaf4d;
  border-radius: 15px;
  position: absolute;
  left: 442px;
  top: 390px;
}

.selling-point li {
  color: #013440;
  opacity: 0.8;
  font-size: 2em;
  /* font-style: italic; */
  /* list-style-type: none; */
  /* border-left: orangered thick solid; */
  padding: 10px;
}

/* START HERE */

.link-cta {
  color: #013440;
  font-size: 1.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
