/* ----------------- GLOBAL STYLES -------------- */

/* 
COLOURS
#E6F4FF LIGHT-BLUE FOOTER BACKGROUND
#8FB7C7 BLUE-MEDIUM
#013440 DARK-BLUE
#026259 DARK-GREEN
#707070 DARK-GREY
#e0e0e0 LIGHT-GREY (BORDER)
#5FB002 GREEN
#FFFFFF WHITE BODY BACKGROUND
#299748 HOME CTA BACKGROUND
#18b418 HOME CTA HOVER BACKGROUND
#8FC7B8 LANDING IMAGE FILL COLOR
 */

/* ----------------- VARIABLES -------------- */

:root {
  --dark-blue-rainydays: #013440; /*RAINYDAYS color*/
  --light-blue-footer: #d7ebfb;; /*footer*/
  --white-background: #ffffff;
  --cta-background: #299748;
  --cart-add-background: #026259;
  --cta-hover-background: #18b418;
  --image-border: #e0e0e0;
  --dark-grey-border: #707070;
  --max-width-main: 1920px;
  --max-width-medium: 1180px;
  --product-image-height: 500px;
  --gap-medium: 50px;
  --min-width-medium: 551px;
  --ol-li-font-size: 1.25em;
  --li-font-size: 1em;
  --ol-margin: 25px;
  --li-margin: 10px;
  --inter-li-margin: 5px;
  --wide-field-width: 16em;
  --normal-field-width: 10em;
  --small-field-width: 3em;
  --x-small-field-width: 2em;
  --gap: 70px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--dark-blue-rainydays);
  margin: 0 auto;
}

/*============ user message ============*/
.message-area {
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0;
}

.note {
  font-size: smaller;
  color: red;
  margin-bottom: 10px;
  margin-left: 5px;
  text-transform: none;
}

.success {
  background-color: rgb(128, 203, 128);
}

.error {
  background-color: rgb(214, 138, 138);
}

.center-aligned {
  text-align: center;
}

/* ------------------------ HEADER STYLES -------------------- */

.header-container {
  background-color: var(--white-background);
  margin: 0 auto;
}

.header-section {
  max-width: var(--max-width-main);
  margin: 0 auto;
  z-index: 100;
}

.logo-container {
  margin-bottom: 10px;
}

.logo {
  max-width: 90px;
  padding-top: var(--li-margin);
}

/* ----------------- LOGIN WISH-LIST CART STYLES -------------- */
/* ----------------- CART INDICATOR -----------------*/

.cart-item-ref {
  position: relative;
}

.cart-items {
  margin: 0;
  padding: 2px;
  position: absolute;
  top: -6px;
  right: -11px;
  background-color: green;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.login-wish-cart {
  display: flex;
  align-items: center;
  gap: var(--ol-margin);
}

.login {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.1em;
  border: var(--dark-blue-rainydays) solid;
  border-radius: 30px;
  width: max-content;
  background-color: var(--white-background);
  padding: 3px 26px;
  margin: 0;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.login:hover {
  background-color: var(--light-blue-footer);
  cursor: pointer;
}

.wish-cart,
.shopping-cart,
.search-icon {
  transition-property: opacity, cursor;
  transition-duration: 0.5s;
}

.wish-cart:hover,
.hamburger-icon:hover,
.search-icon:hover {
  opacity: 0.7;
  cursor: pointer;
}
/* -------------------  NAVIGATION MENU STYLES ( for hover style check LOGIN WISH-LIST CART STYLES)---------------- */

#hamb-menu,
.ham-menu-label {
  display: none;
}

.hamburger-icon {
  max-width: 2em;
}

.main-menu ul,
.about-contact ul,
.footer-menu ul,
.footer-about ul {
  padding: 0;
  margin: 0;
  z-index: 100;
}

.main-menu li,
.about-contact li {
  display: inline;
  list-style-type: none;
  margin: 0 15px;
}

.main-menu ul {
  background-color: var(--white-background);
}

.menu-a {
  color: var(--dark-blue-rainydays);
  font-size: 1.5em;
  padding: 2px 5px;
  text-decoration: none;
  border-bottom: transparent;
  transition-property: all;
  transition-duration: 0.5s;
}

.smaller-menu {
  font-size: 1em;
}

.active {
  border-bottom: var(--dark-blue-rainydays) solid thin;
}

.indicator-menu {
  max-width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}

.indicator-link {
  text-decoration: none;
  border-bottom: solid thin;
  color: var(--dark-blue-rainydays);
  font-weight: bold;
}

/* -------------------  SEARCH MENU STYLES ( for hover style check CART STYLES)---------------- */

.search {
  display: flex;
  gap: 15px;
}

.search-field {
  font-size: 1em;
  padding: 0 5px;
  border: var(--dark-grey-border) thin solid;
  border-radius: var(--li-margin);
}

/* -----------------  ABOUT CONTACT US STYLES (see navigation menu styles) -------------- */

.about-contact a {
  font-size: 0.9em;
}

.menu-a:hover,
.about-contact a:hover,
.footer-section a:hover {
  opacity: 0.7;
  border-bottom: var(--dark-blue-rainydays) thin solid;
}

.send {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  color: white;
  background-color: var(--dark-blue-rainydays);
  border: none;
  border-radius: 7px;
  padding: 4px 20px;
  transition-property: background-color;
  transition-duration: 0.5s;
  margin: var(--inter-li-margin);
}

.send:hover {
  background-color: rgb(114 153 166);
  cursor: pointer;
}

/* -------------------------------------   ---------------------- */
/* -------------------------------------CHECKOUT PAGE +  shop/collection PAGE ---------------------- */

.loading {
  border: 5px dotted #5c58d7;
  border-radius: 50%;
  border-right: 0;
  border-top: 0;
  width: 75px;
  height: 75px;
  margin: 70px 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.add-to-cart-container,
.add-to-wish-container,
.add-to-cart-shop {
  display: inline-flex;
  min-width: max-content;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  background-color: var(--cta-background);
  border-radius: 13px;
  transition-property: all;
  transition-duration: 0.5s;
}

.add-to-cart-shop {
  padding: 6px 9px;
  border-radius: 10px;
}

.add-to-cart,
.add-to-wish {
  display: none;
}

.add-to-wish-container {
  background-color: white;
  border: var(--dark-blue-rainydays) solid thin;
}

.add-to-cart-container:hover,
.add-to-cart-shop:hover {
  background: var(--cta-hover-background);
  cursor: pointer;
}

.add-to-wish-container:hover {
  background-color: var(--light-blue-footer);
  cursor: pointer;
}

.cart-container {
  position: relative;
}

.cart-size {
  width: 1.7em;
}

.cartsize-shop {
  width: 1.4em;
}

.add-cart,
.add-wish {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  position: absolute;
  border-radius: 50%;
  width: 19px;
  height: 19px;
  text-align: center;
}

.add-cart {
  top: -5px;
  right: -7px;
  background-color: var(--cart-add-background);
  color: white;
}

.add-wish {
  top: 2px;
  right: -8px;
  background-color: white;
  color: var(--dark-blue-rainydays);
}

.add-to-cart-txt,
.add-to-wish-txt,
.add-to-cart-txt-shop {
  color: white;
  font-size: 1.25em;
  font-weight: bold;
  margin: 0;
}

.add-to-cart-txt-shop {
  font-size: 0.9em;
}

.add-to-wish-txt {
  color: var(--dark-blue-rainydays);
  font-weight: normal;
}

.about-contact-section,
.checkout-section {
  max-width: 650px;
  margin-left: 150px;
  padding: 25px 0;
}

.fitcontent {
  width: fit-content;
}

.divider-login {
  width: 1px;
  height: 7em;
  background-color: var(--dark-blue-rainydays);
}

.vipps-label {
  display: inline-flex;
  align-items: center;
}

.ol-contact-info {
  font-size: 0.9em;
}

.shipping-left-padding {
  padding-left: 25px;
  margin-left: -2px;
}

.visa-vipps-container {
  margin-left: 15px;
}

.input-fields {
  font-size: var(--li-font-size);
  border: var(--dark-grey-border) solid thin;
  border-radius: 7px;
  padding: 3px 7px;
  margin: var(--inter-li-margin);
}

#size,
#color {
  width: fit-content;
}

.orderby {
  width: max-content;
}

.message-field {
  width: 90%;
  height: 100px;
}

/* -----------------  MAIN MENU - SEARCH - ABOUT STYLES  ---------------- */

.menu-about-container {
  display: flex;
  align-items: center;
  justify-content: space-around  /* space-between; */
}

/* -------------------------  MAIN BODY STYLES --------------------- */

.main-body {
  margin: 30px auto;
  background-image: linear-gradient(
    #ebebeb,
    var(--white-background),
    var(--white-background)
  );
  background-size: auto 80px;
  background-repeat: no-repeat;
}

.main-body-section {
  margin: 0 auto;
}

/* ----------------------- LANDING IMAGE STYLES --------------------- */

.image-container {
  background-image: url("https://www.rainydays.casa/wp-content/uploads/2022/11/man_red-jacket_big-image-1024x781.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 70vh;
  position: relative;
}

.landing-cta,
.link-cta {
  color: var(--white-background);
  text-decoration: none;
  text-transform: capitalize;
  transition-property: all;
  transition-duration: 0.5s;
  background-color: var(--cta-background);
  border: var(--cta-background) solid thin;
}

.landing-cta {
  font-weight: bold;
  min-width: fit-content;
  padding: 15px 50px;
  border-radius: 15px;
  position: absolute;
  right: 216px;
  bottom: 150px;
  font-size: 2.7em;
}

.landing-cta:hover,
.link-cta:hover {
  background-color: var(--cta-hover-background);
}

/* ----------------------- SELLING POINT STYLES --------------------- */

.selling-point-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selling-point-header {
  margin: var(--ol-margin) auto 0;
  text-transform: capitalize;
  font-size: 2em;
}

.selling-point li {
  font-size: 2em;
  padding: var(--li-margin);
  text-transform: capitalize;
}

.link-cta {
  padding: 5px 15px;
  border-radius: 10px;
  font-size: 2.5em;
}

/* ---------------- Feature products ----------------- */
.featured-container {
  max-width: 1500px;
  margin: 0 auto;
}

/* ----------------------- FOOTER SECTION STYLES --------------------- */

.footer {
  background-color: var(--light-blue-footer);
  margin: 0;
}

/* see ABOUT CONTACT US STYLES for hover styles */

.footer-section a,
footer p {
  font-size: 0.9em;
  text-decoration: none;
  padding: 1px 5px;
  margin: 0;
  color: var(--dark-blue-rainydays);
}

.follow-us {
  display: flex;
  align-items: center;
}

.media-icon {
  max-width: 30px;
  margin: 0 1px;
  border-radius: 50%;
}

.media-icon {
  transition-property: background-color;
  transition-duration: 1s;
}

.media-icon:hover {
  background-color: lightseagreen;
  cursor: pointer;
}

.footer-section {
  display: flex;
  max-width: var(--max-width-main);
  flex-wrap: wrap;
  margin: 0 auto;
  padding: var(--li-margin);
  justify-content: space-between;
  align-items: flex-start;
}

.footer-menu li,
.footer-about li {
  list-style-type: none;
  margin: 3px 0;
  min-width: fit-content;
}

/* ======================================================================================= */
/* ----------------------- MEDIA QUERY --------------------- */

/* ----------------------- Medium sized screens MEDIA QUERY --------------------- */

@media only screen and (min-width: 600px) and (max-width: 1000px) {

  .login {
    font-size: 1em;
    padding: 7px 20px;
  }

  .wish-cart,
  .shopping-cart,
  .search-icon {
    max-width: 1.7em;
  }

  .main-menu li,
  .about-contact li {
    display: block;
    margin: 0 5px 5px;
    padding: 5px;
  }

  .main-menu {
    display: none;
  }

  .ham-menu-label {
    display: block;
  }

  #hamb-menu:checked ~ .main-menu {
    display: flex;
    position: absolute;
    z-index: 100;
  }

  .main-body {
    margin: 10px auto 25px;
  }

  .image-container {
    min-height: 50vh;
  }

  .landing-cta {
    right: 130px;
    bottom: 100px;
  }

  /* =================== PRODUCT PAGE ============== */

  .product-section {
    padding-top: 25px;
    gap: 45px;
  }

  .product-image {
    max-width: 500px;
  }

  .product-title,
  .price,
  .checkout-li,
  .add-to-cart-txt,
  .add-to-wish-txt {
    font-size: 1em;
    margin-top: 0;
  }

  .product-ul {
    margin: 5px auto;
  }

  .product-cta-container {
    flex-direction: column;
    gap: 15px;
  }

  .add-to-cart-container,
  .add-to-wish-container {
    padding: 10px 15px;
  }

  .add-cart,
  .add-wish {
    font-size: 13px;
    width: 16px;
    height: 16px;
  }

  .related-products {
    font-size: 0.8em;
  }

  /*================ CHECKOUT SECTION (ABOUT-CONTACT-SECTION) ==========*/

  .about-contact-section {
    margin-left: 50px;
  }

  .checkout-section {
    margin-left: 20px;
  }

  .cart-items {
    width: 15px;
    height: 15px;
    font-size: 0.8em;
    right: -9px;
  }

  .vipps-container {
    align-items: flex-start;
  }

  .input-fields {
    padding: 7px;
  }

  .left-margin {
    margin-left: 25px;
  }

  /*================ COLLECTION PAGE ==========*/

  .collection-container {
    grid-template-columns: 1fr 1fr;
  }

  .p-title,
  .p-price {
    font-size: 0.9em;
  }
}

/* ----------------------- Small size screens MEDIA QUERY --------------------- */

@media only screen and (max-width: 599px) {

  .login-wish-cart {
    gap: 15px;
  }

  .login {
    font-size: 0.9em;
    padding: 6px 18px;
  }

  .about-contact-section {
    max-width: 360px;
    margin: 0 auto;
  }

  .wish-cart,
  .shopping-cart,
  .search-icon {
    max-width: 1.5em;
  }

  .search {
    gap: 3px;
  }
  .search-field {
    opacity: 0;
    font-size: 0.7em;
  }

  .search-field:focus-visible {
    opacity: 1;
    width: 70%;
  }

  .main-menu li {
    display: block;
    margin: 0 5px 5px;
    padding: 5px;
  }

  .main-menu,
  .about-contact {
    display: none;
  }

  .indicator-menu {
    font-size: small;
  }

  .about-contact li {
    display: block;
    margin-bottom: 5px;
  }

  .ham-menu-label {
    display: block;
  }

  #hamb-menu:checked ~ .main-menu {
    display: flex;
    position: absolute;
    z-index: 100;
  }

  .logo-container {
    margin-bottom: 0px;
  }

  .header-section,
  .main-body {
    min-width: 350px;
  }

  .main-body {
    margin: 10px auto 25px;
  }

  .main-body-container {
    flex-direction: column;
  }

  .image-container {
    min-height: 25vh;
  }

  .landing-cta {
    right: auto;
    left: 40px;
    bottom: 30px;
    padding: 10px 40px;
  }

  .selling-point li,
  .landing-cta,
  .selling-point-header,
  .link-cta {
    font-size: 1.5em;
  }

  /* =================== PRODUCT COLLECTION PAGE ============== */

  .orderby-container {
    padding: 15px 0px;
    max-width: 90%;
    margin: 0 auto;
  }

  .collection-container {
    grid-template-columns: 1fr;
  }

  .p-title,
  .p-price {
    font-size: 0.9em;
  }
  /* =================== PRODUCT PAGE ============== */

  .product-section {
    flex-direction: column;
    padding-top: 25px;
    gap: 25px;
  }

  .product-image {
    max-width: 340px;
  }

  .product-detail {
    margin-left: 30px;
  }

  .product-title,
  .price,
  .checkout-li,
  .add-to-cart-txt,
  .add-to-wish-txt {
    font-size: 1em;
    margin-top: 0;
  }

  .size-container,
  .color-container {
    margin: 15px 0px;
  }

  .product-ul {
    margin: 5px auto;
  }

  .product-cta-container {
    flex-direction: column;
    gap: 15px;
  }

  .add-to-cart-container,
  .add-to-wish-container {
    padding: 10px 15px;
  }

  .add-cart,
  .add-wish {
    font-size: 13px;
    width: 16px;
    height: 16px;
  }


  .related-products {
    font-size: 0.6em;
  }

  .featured-products {
    font-size: 0.8em;
  }

  .related-left-margin {
    font-size: larger;
  }

  /*================ CHECKOUT SECTION (ABOUT-CONTACT-SECTION) ==========*/

  .checkout-section {
    margin-left: -5px;
  }

  .cart-items {
    width: 15px;
    height: 15px;
    font-size: 0.8em;
    right: -9px;
  }

  .divider-login {
    width: 12em;
    height: 1px;
  }

  .checkout-login-section {
    flex-direction: column;
    gap: 20px;
  }
  .visa-vipps-container {
    margin-left: -5px;
  }

  .vipps-container {
    align-items: flex-start;
  }

  .left-margin {
    margin-left: 25px;
  }

  .input-fields {
    font-size: 0.8em;
    padding: 7px;
  }

  .wide-field {
    width: auto;
  }

  .contact-left-padding {
    padding-left: 17px;
  }

  .shipping-left-padding {
    margin-left: -23px;
  }

  /*================ CART PAGE ==========*/

  .cartpage-btn {
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
  }

  thead,
  tbody,
  tfoot {
    font-size: smaller;
  }

  th, 
  td {
    padding: 2px;
  }
}
